$hyperlinkColour: #2ecc71;
$hyperlinkHoverColour: #16a085;

$standardHoverTransition: all 200ms linear;

.navigation {
    &__top {
        padding: .3em 4em;
        box-shadow: 0 0px 15px #ccc;
        display: flex;
        align-items: center;
        height: auto;

        a {
            color: $hyperlinkColour;
            transition: $standardHoverTransition;
            will-change: transition;

            &:hover {
                color: $hyperlinkHoverColour;
                transition: $standardHoverTransition;
                will-change: transition;
            }
        }

        &__list {
            margin-left: auto;
        }

    }

    &__brand {
        margin: 1em auto 1em 0;
        color: cadetblue;
    }

    &__side {
        width: 16em;
        height: 100%;

        &__list {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-evenly;
            height: 100%;
            margin: 0;
            padding: 0;
            background: #2c3e50;

            li {
                margin: auto;
                width: 85%;
                padding: 1em;

                a {
                    padding: 1em;
                    color: #ecf0f1;
                    width: 100%;
                    transition: $standardHoverTransition;
                    will-change: transition;

                    &:hover {
                        color: $hyperlinkHoverColour;
                        transition: $standardHoverTransition;
                        will-change: transition;
                    }
                    
                    &.active {
                        color: $hyperlinkHoverColour;
                    }
                }
                
                

                &:last-of-type {
                    margin-top: 25em;
                }
            }
        }
    }

    &__footer {
        background: #353b48;
        padding: 1em 4em;
        display: flex;
        color: #ecf0f1 !important;

        span.copyright-notice {
            margin-right: auto;
        }

        span.github-link a{
            color: #ecf0f1 !important;
        }

        a:hover {
            color: $hyperlinkHoverColour;
            transition: $standardHoverTransition;
            will-change: transition;
        }
    }
}